
#home-page {
    background-image: url('data-center.jpg');
    height: 100vh;
    opacity: 0.5;
}

#welcome-div {
    background: white;
    font-size: 2rem;
    margin-bottom: 0;
    
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50%;
}

.row {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
}

#welcome-text {
    margin-bottom: 0;
}

.btn-secondary:hover {
    background-color: black;
}